#particles-js canvas {
    display: block;
    background-image: linear-gradient(0, rgba(223, 99, 255, 0.39), rgba(144, 3, 182, 0.39), #363636, #2e2e2eff, #1c1c1c, #000000);
    transform: scale(1);
    opacity: 1;
    transition: opacity .8s ease, transform 1.4s ease;
}

#particles-js {
    height: calc(100vh - 3rem);
    width: 100%;
    position: fixed;
    margin-top: 3rem;
    z-index: 0;
}

.landing-page {
    height: 200vh;
    width: 100%;
}

.landing-spacer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.welcome {
    flex: 0 40%;
    height: 45vh;
    background-image: linear-gradient(#BBBBBB, #424242, #232323);
    opacity: 0.2;
    border-radius: 10% 10% 0 0;
    z-index: 1;
}

.transition {
    display: flex;
    align-self: flex-end;
    height: 27.7vh;
    width: 100%;
    background-image: linear-gradient(#111111, #696969, #ffffff);
    opacity: 0.3;
    z-index: 2;
    position: absolute;
}

.card {
    background-color: #BBBBBB;
    z-index: 1;
}

.card-1 {
    position: relative;
    height: 75vh;
}