body {
    background: #2e2e2e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: fit-content;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.page-header {
    background-image: linear-gradient(0, #4C2A85, #733293);
    border-bottom: none;
}

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 100%;
    z-index: 10;
}

.nav-menu {
    display: none;
}

.nav-pill {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    text-align: center;
    border-radius: 0.25rem;
    height: 100%;
}

.nav-pill .nav-item:hover {
    background-color: #320E3Bff;
    transition: 0.3s ease-in-out;
}

.nav-icon {
    display: flex;
    border-radius: 50%;
}

.nav-icon:hover {
    background-color: #320E3Bff;
    transition: 0.3s ease-in-out;
}

.nav-link {
    font-family: sans-serif;
    text-decoration: none;
    color: #A8A9ADff;
    padding: 0.5rem 1rem;
}

.nav-search-icon, .menu-icon {
    height: 1.5rem;
    padding: 0.5rem 0.5rem;
}

.nav-close-icon {
    height: 1rem;
    padding: 0.5rem 0.5rem;
}

.nav-search-bar {
    display: none;
}

.search-bar {
    position: relative;
    margin: 0 0.5rem;
    min-width: 175px;
    max-width: 250px;
}

.search-input {
    border: 1px solid grey;
    border-radius: 25px;
    height: 25px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background: #c9c9c9c9;
}

.search-icon {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
}

.clear-icon {
    position: absolute;
    right: 4px;
    width: 12px;
    cursor: pointer;
    visibility: hidden;
}

.search-input:hover, .search-input:focus {
    border: 1px solid #009688ff;
    background-color: white;
}

.page-footer {
    position: relative;
    background-color: #1c1c1cff;
    color: white;
    z-index: 10;
}

.spacer {
    height: 2rem;
}

.footer-div {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 4rem;
}

.contact {
    display: flex;
    flex: 0 50%;
}

.navigation {
    display: flex;
    flex: 0 28%;
}

.social {
    display: flex;
    flex-flow: row-reverse nowrap;
    flex: 0 22%;
}

.footer-list {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
    padding-right: 52px;
}

.left-border {
    border-left: 2px solid #696969ff;
    padding-left: 52px;
}

.footer-right {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
    padding-left: 0;
    padding-right: 52px;
}

.footer-item {
    font-family: sans-serif;
    margin: 11px 0;
    padding: 8px 0;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-icon {
    height: 2rem;
    padding: 5px;
    margin: 10px 5px 5px;
    align-self: flex-start;
}